#image{
  max-width: 100%; 
  height: auto; 
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main{
background-color: moccasin;
}

#title{
color: indianred;
font-style: italic;

}

body{
    text-align: center;
    background-color: maroon;
}
a{
    color:red;
}